<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <ul class="menu-items">
      <li [routerLink]="['/']" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li [routerLink]="['/user']" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
    </ul>
    }
    <button (click)="showFiller = !showFiller" matButton="elevated">
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button matIconButton (click)="drawer.toggle()" class="menu-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
      <button matIconButton class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button matIconButton class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
